#logo {
	width: 80px;
	height: 80px;
}
a {
	font-size: 120%;
}

#avatar {
	border-radius: 50%;
	width: 30%;
	height: 30%;
	padding: 1%;
}

.td1	{
	width: 40%;
}

h2	{
	font-family: Arial Narrow;
}

#shortTxt {
	border:3px; 
	border-style:solid; 
	border-color:#FF0000; 
	padding: 1em;
	width: 65%;
}

#avatar {
	text-align: center;
}

.name	{
	color: #ff0000
}

#mailicon	{
	padding: 10px;
	color :grey;
	font-size: 20px;
}

.fa {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-instagram {
  background: grey;
  color: white;
}

.fa-github {
  background: grey;
  color: white;
}

.fa-twitter {
  background: grey;
  color: white;
}

#myskills {
	text-align: center;
}

.td2	{
	text-align: center;
	width: 35%;
}

.skillslogo {
	width: 100px;
	height: 100px;
}